<template>
    <h1>Real time Active Manpower data</h1>
  <div>
    <label for="Total Attendance">Total Attendance</label>
    <input type="box" v-model="totalattendance" id="totalattendance" />

    <label for="projectName">Project Name:</label>
    <input type="text" v-model="projectName" id="projectName" />

    <label for="date">Date:</label>
    <input type="date" v-model="currentDate" id="date" />

    <label for="time">Time:</label>
    <input type="time" v-model="currentTime" id="time" />

    <label for="year">Year:</label>
    <input type="number" v-model="selectedYear" id="year" @change="updateDateRangeColors"/><label for="month">Month:</label>
    <input type="month" v-model="selectedMonth" id="month" @change="updateDateRangeColors"/>

    <div class="date-range-container">
      <div v-for="day in dateRange" :key="day" :class="getDateBoxClass(day)">
        {{ day }}
      </div>
    </div>

    <button @click="handleSubmit">Submit</button>

    <div>
      <label for="downloadLink">Download:</label> 
      <a :href="generateDownloadLink()" download>Download</a>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      projectName: "Stock Survey",
      currentDate: "",
      currentTime: "",
      selectedYear: new Date().getFullYear(),
      selectedMonth: (new Date().getMonth() + 1).toString().padStart(2, "0"),
    };
  },
  computed: {
    dateRange() {
      const firstDay = new Date(this.selectedYear, this.selectedMonth - 1, 1);
      const lastDay = new Date(this.selectedYear, this.selectedMonth, 0);
      const range = [];
      for (
        let date = new Date(firstDay);
        date <= lastDay;
        date.setDate(date.getDate() + 1)
      ) {
        range.push(new Date(date).getDate().toString());
      }
      return range;
    },
  },
  methods: {
    handleSubmit() {
      //submission logic and save the data to a database or show an alert
      console.log("Project Name:", this.projectName);
      console.log("Date:", this.currentDate);
      console.log("Time:", this.currentTime);
    },
    getDateBoxClass(day) {
      const selectedDate = new Date(
        this.selectedYear,
        this.selectedMonth - 1,
        day
      );
      const today = new Date();
      const isSelectedDate = selectedDate.toISOString().slice(0, 10) === this.currentDate;
      const isToday = selectedDate.toISOString().slice(0, 10) === today.toISOString().slice(0, 10);
      return {
        "date-box": true,
        "selected-date": isSelectedDate,
        today: isToday,
      };
    },
    updateDateRangeColors() {
      // Call this method whenever the year or month selection changes
      // This method will add classes to the date boxes based on whether the date is selected or today.
      const dateBoxes = document.getElementsByClassName("date-box");
      for (const box of dateBoxes) {
        const day = box.textContent;
        const selectedDate = new Date(
          this.selectedYear,
          this.selectedMonth - 1,
          day
        );
        const today = new Date();
        const isSelectedDate = selectedDate.toISOString().slice(0, 10) === this.currentDate;
        const isToday = selectedDate.toISOString().slice(0, 10) === today.toISOString().slice(0, 10);
        box.classList.toggle("selected-date", isSelectedDate);
        box.classList.toggle("today", isToday);
      }
    },
    generateDownloadLink() {
      const dataToDownload = JSON.stringify({
        projectName: this.projectName,
        date: this.currentDate,
        time: this.currentTime,
      });
      const blob = new Blob([dataToDownload], { type: "application/json" });
      return URL.createObjectURL(blob);
    },
  },
};
</script>
  
  <style>
.date-range-container {
  display: flex;
  flex-wrap: wrap;
}

.date-box {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  border: 1px solid #ccc;
}

.selected-date {
  background-color: #00ff00; 
}

.today {
  background-color: #ff0000; 
}
</style>
  