<template>
  <div class="container">
    <div class="row">
  <div class="col-md-3">
 <SideMenu></SideMenu>
  </div>
<div class="col-md-9">
  <h1 class="page-header">Dashboard</h1>
    <!-- Main content -->
    <section>
      <div>
        <h5>Projects</h5>
        <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="#" role="button">View navbar docs »</a>
        </p>
      </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</div>
</div>


</template>
<style scoped>
.page-header {
  padding-left: 0;
  padding-right: 0;
    border-bottom: 1px solid #eee;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}
.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}

</style>

<script>
import SideMenu from './SideMenu.vue'
  import 'bootstrap/dist/css/bootstrap.min.css';
  // import 'bootstrap/dist/js/bootstrap.min.js';
  // import 'popper.js/dist/umd/popper.min.js';
  
  // import 'jquery/dist/jquery.min.js';
  
  
  // import $ from 'jquery'; 
  // import '../CSS/App.css';
// import SideBar from './SideBar.vue'
export default {
  components:{
    SideMenu
  }
  // mounted(){
  //     //toggle sidebar
  //     $("#menu-toggle").click(function(e) {
  //       e.preventDefault();
  //       $("#wrapper").toggleClass("toggled");
  //     });
  //   },
  //   data() {
  //       return {
  //           currentPage: "profile",
  //       };
  //   },
  //   methods: {
  //       showPage(page) {
  //           this.currentPage = page;
  //       },
  //   }
    
    // components: {
    //     SideBar
    // }

};
</script>


