<template>
    <div class="box-container">
      <div class="box-row">
        <div class="box-item">Statement</div>
      </div>
      <div class="box-row">
        <div class="box-item">Net Profit Margin %</div>
        <div class="box-item">Income and Expenses</div>
        <div class="box-item">Income</div>

        <div class="box-item">Net Profit Margin %</div>
        <div class="box-item">Income and Expenses</div>
        <div class="box-item">Income</div>
      </div>
    </div>
  </template>
  
  <style>
  .box-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .box-row {
    display: flex;
  }
  
  .box-item {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  </style>
  