<template>
  <div>
    <app-bar title="Welcome-Login here"></app-bar>
    
    <section class="vh-100">
      <form @submit.prevent="submitForm">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="ds-group">
              <img src="@/assets/ds_logo.png" alt="DS Logo" height="80" />
          <h2 class="ds-title">DS GROUP</h2>
          
        </div>

            <div class="form-outline mb-4">
              <input v-model="username" type="text" id="username" class="form-control" placeholder="Enter your username"
            required
          />              
             
            </div>

            <div class="form-outline mb-4">
              <input v-model="password" type="password" id="password" class="form-control" placeholder="Enter your password"
            required
          />
             
            </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-start mb-4">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
              <label class="form-check-label" for="form1Example3"> Remember password </label>
            </div>
            <hr class="my-4">
            <button class="btn btn-dark btn-lg btn-block" @click="login" type="submit">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</section>
   
  </div>
</template>

<script>
export default {
  methods: {
    login() {
      // Perform basic form validation
      // if (!this.email || !this.password) {
      //   this.error = 'Please enter both email and password.';
      //   return;
      // }

      // if (this.email === 'com' && this.password === '') {
      //   // Redirect to admin panel if the user is an admin
      //   this.$router.push(this.isAdmin ? '/admin-panel' : '/dashboard');
      // } else {
      //   this.error = 'Invalid email or password.';
      // }
      // Perform your login logic here, and if successful, navigate to the dashboard
      this.$router.push("/dashboard");
    },
  },
};
</script>


<style>
.container {
  padding: 16px;
}

.ds-group {
  text-align: center;
  margin-bottom: 40px;
}

.ds-title {
  font-size: 40px;
  font-weight: bold;
}

.form-check-label{
  font-size: .9rem;
    color: #6e6e6e;
    margin-left: 10px;
}
</style>