<template>
    <link rel="stylesheet" 
          href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" 
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" 
          crossorigin="anonymous">
        <sidebar-menu :menu="menu" />
       
  </template>
  <script>
  export default {
  data() {
      return {
        menu: [
                  {
                      header: false,
                      title: 'Main Navigation',
                      hiddenOnCollapse: true
                  },
                  {
                      href: '/dashboard',
                      title: 'My Profile',
                      icon: 'fas fa-user'
                  },
                  {
                      href: '/dashboard',
                      title: 'Dashboard',
                      icon: 'fas fa-chart-line'
                  },
                  {
                      href: '/dashboard',
                      title: 'Attendance Tracker',
                      icon: 'fas fa-calendar-check'
                  },
                  {
                      href: '',
                      title: 'Activity Reporting',
                      icon: 'fa fa-list-ul',
                      child: [
                          
                          {
                              href: '/2-2',
                              title: 'DS Group Survey Download'
                          }
                          ,
                          {
                              href: '/2-3',
                              title: 'DS Group Survey Reporting'
                          }
                          ,
                          {
                              href: '/2-3',
                              title: 'DS Group PPT'
                          }
                      ]
                  }
              ]
      }
    }
};
</script>