<template>
    <h1>STATE WISE PHASE WISE COMP</h1>
    <div>
      <div class="inbox">
        <div v-for="(message, index) in messages" :key="index" class="message">
          {{ message }}
        </div>
      </div>
      <button @click="addMessage">Click to Add Text</button>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        messages: [],
      };
    },
    methods: {
      addMessage() {
        this.messages.push(`Add New message ${this.messages.length + 1}`);
      },
    },
  };
  </script>
  
  <style>
  .inbox {
    border: 1px solid #ccc;
    
    margin-top: 10px;
    padding-left: 50px;
    width: 95%;
  }
  
  .message {
    margin-bottom: 5px;
  }
  </style>
  