body {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    color: white;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  .list-group-item {
    color: white;
  }
  .list-group a:hover {
    color: white;
    background-color: #2b2c30!important;
  }
  .list-group-item-action:active {
    color: white;
    background-color: #2b2c30!important;
  }
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  .bg-light {
    background-color: lightyellow!important;
}
.bg-dark {
    background-color: #555760!important;
}
#page-content-wrapper{background-color: lightblue;}
.toggle-icon{
    color: white;
    font-size: medium;
}
.wrapper {
    min-height: 100%;
  }
  
  .wrapper {
    position: relative;
  }
  .main-header.border-bottom-0 ~ .content-wrapper {
    margin-top: main-header-height-inner;
  }
  .content-wrapper {
    margin-top: main-header-height;
  }

  .main-header.text-sm ~ .content-wrapper {
    margin-top: main-header-height-sm;
  }

  .main-header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: zindex-main-header - 1;
  }  